.main-button {
    display: inline-block;
    background-color: #4680DB;
    color: #FFF;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.829);
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    text-decoration: none;
}

.main-button:hover {
    background-color: #001366;
    box-shadow: 0 5px #666;
    transform: scale(1.08);
}

.main-button.-firstColor:hover {
    background-color: #4680DB;
    box-shadow: 0 5px #666;
    transform: scale(1.08);
}

.main-button.-full {
    width: 100%;
}